/*
 * Custom CSS
 */
  /* div#coverPic {
    display: flex;
    width: 100vw;
    background-image: url("https://photos.smugmug.com/PhotoStore/November-2012/Patriot-Boxing-opens-in/i-ZqHcmZ9/0/50178000/L/patriotboxing6-1128-dg-L.jpg");
    background-position: center;
    background-size: fill;
    justify-content: center;
    align-items: center;
  } */